@media(max-width:991px){
    .protflio-section{
        background-image: url('../img/bg-1.jpg');
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .bg-color {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
    }
    .our-work{
       
        height: auto;
        width: 100%;
        
    }
    
    .work-bg {
        height: auto;
       
    }
    .service-item {
        padding: 15px;
        background: #fff;
        margin-top: 20px;
    }
    
    





}